.user {
  text-align: center;
  width: 93px;
  color: #e28e18;
  position: absolute;
  bottom: 0px;
  left: 64%;
  border-radius: 50%;
  border-width: 6px;
  border-style: solid;
  border-color: #e28e18;
  border-image: initial;
  padding: 0px;
  background: #ffe6c4; }
