$instructions: #232a35;
$scrollBar: #1a2029;
$vizContainer: #2C3543;

$light-blue: #58a8a4;

$landing-number: #6fbfbb;

$start-button-bg: #f3a612;

$panel-text: #e0e0e0;

// ----------------------
// Shapes
$store-bg: #ffabab;
$store-border: #ffdedd;


$view-bg: #dcd3ff;
$view-border: #fcfbff;

$reducer-bg: #97a2ff;
$reducer-border: #b2bbff;
$reducer-bg-hover: #6f7eff;

$middleware-bg: #fbe4ff;
$middleware-border: #fbe4ff;

$action-bg: #f6a6ff;
$action-border: #f6a6ff;
$action-bg-hover: #f179ff;

$state-bg: #aff8db;
$state-border: #36c18a;

$event-border: #ffff96;
$event-border-hover: yellow;