$instructions: #232a35;
$scrollBar: #1a2029;
$vizContainer: #2C3543;

$light-blue: #58a8a4;

$landing-number: #6fbfbb;

$start-button-bg: #f3a612;

$panel-text: #e0e0e0;

// ----------------------
// Shapes
$store-bg: #ffabab;
$store-border: #ffdedd;


$view-bg: #dcd3ff;
$view-border: #fcfbff;